*{
    padding: 0;
    margin: 0;
}
body{
    width: 1280px;
    margin: 0 auto;
}


.countriesList{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
}